#!/bin/sh

if [ "$(id -n -u)" = "<%= @postgres_user %>" ] ; then
  privilege_drop=''
else
  privilege_drop="-u <%= @postgres_user %>"
fi

cd /tmp; exec chpst ${privilege_drop} -U <%= @postgres_user %> <%= @psql_command %> -p <%= @port %> -U <%= @user %> -d pgbouncer "$@"
