[Unit]
Description=<%= @name %>
Requisite=pgbouncer.service
After=pgbouncer.service

[Service]
Environment=<%= @environment.map {|key, val| %Q{"#{key}=#{val}"} }.join(' ') %>
ExecStart=<%= @command %>
ExecReload=/bin/kill -<%= @reload_signal %> $MAINPID
# When Consul is waiting for a lock, it doesn't handle signals,
# so we tell systemd to kill it as fast as possible.
# https://github.com/hashicorp/consul/issues/4439
TimeoutStopSec=2
KillSignal=<%= @stop_signal %>
User=<%= @user %>
WorkingDirectory=<%= @directory %>
Restart=<%= @restart_mode %>

[Install]
WantedBy=multi-user.target
