[Unit]
Description=<%= @name %>
<% if node['gitlab-pgbouncer']['systemd_wait_for_dnsmasq'] -%>
After=dnsmasq.service
<% end -%>

[Service]
Environment=<%= @environment.map {|key, val| %Q{"#{key}=#{val}"} }.join(' ') %>
ExecStart=<%= @command %>
ExecReload=/bin/kill -<%= @reload_signal %> $MAINPID
KillSignal=<%= @stop_signal %>
User=<%= @user %>
WorkingDirectory=<%= @directory %>
Restart=<%= @restart_mode %>
LimitNOFILE=<%= node['gitlab-pgbouncer']['max_client_conn'] %>

[Install]
WantedBy=multi-user.target
